@import "../../Abstracts/mixins/_card-mixin.scss";
@import "../../Abstracts/mixins/_card-icons-mixin.scss";

.containerClass{
   width: 100%;
   background-color:white;
}

.card3title{
    display: flex;
    justify-content: flex-start;
    margin: 16px 0;
    font-weight: bold;
    color: black;
    font-size: 24px;
    }
    .card3p{
        margin: 30px 0px;
    }

    .rowp{
        display: flex;

        
    }
    .sub{
        padding: 4px 24px 4px 0px;
        font-size: 18px;
        font-weight: bold;
        color: black;
        width: 150px;
        height: 28px;
        text-align: left;
        
    }
    .subData{
        padding: 4px 24px 4px 0px;
        font-size: 18px;
        color: black;
    }
    
    .a{
        color: red;
    }
    .btn{
        display: flex;
        justify-content: flex-start;
    }