.containerClass{
    width: 100%;
    background-color:white;
 }
 
 .altImg{
 
 }
 .card3title{
     display: flex;
     justify-content: flex-start;
     margin: 16px 0;
     font-weight: bold;
     color: black;
     font-size: 24px;
     }
 .card3p{
     
     }
     .rowp{
         display: flex;
 
         
     }
     .sub{
         padding: 4px 24px 4px 0px;
         font-size: 18px;
         font-weight: bold;
         color: black;
         
     }
     .subData{
         padding: 4px 24px 4px 0px;
         font-size: 18px;
         color: black;
     }
     a{
         color: red;
     }
     .btn{
         display: flex;
         justify-content: flex-start;
     }