@use "../Abstracts/mixins/_mixin-breakpoints.scss" as *;

.page {
  background-color: #1D2033;
  height: 100vh;

  display: flex;
  justify-content: center;

  padding-inline: 48px;

  .content {
    margin-top: 60px;
    width: 100%;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    .logo {
      align-self: center;
      max-width: 64px;
    }
  
    h1 {
      text-align: center;
      font-size: 30px;
      color: #fff;
      margin-block: 16px 8px;
    }
  
    form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  
    label {
      font-size: 12px;
      font-family: var(--ff-text-900);
      letter-spacing: 1.3px;
      text-transform: uppercase;
      color: #fff;

      margin-top: 16px;
      margin-bottom: 8px;
    }

    .input {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        cursor: pointer;
        position: absolute;
        right: 10px;

        border: none;
        border-radius: 8px;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 32px;
      }
    }
    input {
      width: 100%;
      color: #fff;
      letter-spacing: .75px;
      background-color: #141724;
      border: 2px solid #4A5256;
      border-radius: 8px;
      padding-inline: 12px 10px;
      height: 48px;
      transition: box-shadow 0.2s ease-in-out;
    }
    input[data-error="true"] {
      border-color: var(--clr-brand-400);
    }
    input::placeholder {
      color: #4A5256;
    }
    input:hover {
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    }
    input:focus {
      box-shadow: 0 0 10px 0 rgba(255,255,255,0.76);
    }

    .error {
      text-align: left;
      color: var(--clr-brand-400);
    }

    .checkbox {
      margin-block: 8px 20px;

      display: flex;
      align-items: center;

      label {
        text-transform: none;
        font-size: 16px;
        font-family: var(--ff-text-400);
        letter-spacing: unset;
        font-weight: 400;
        margin-bottom: 0;
      }
      .square {
        cursor: pointer;
        width: 26px;
        height: 26px;
        border: 2px solid #4A5256;
        border-radius: 4px;
        margin-right: 6px;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        span {
          color: #fff
        }
      }
    }

    form > button {
      cursor: pointer;
      display: block;
      margin-block: 12px;
      border: none;
      border-radius: 8px;
      height: 48px;
      color: #fff;
      font-weight: bold;
      letter-spacing: 2.8px;

      &.transparent {
        border: 2px solid #1f55ca;
        background-color: transparent;
      }
    }

    p {
      text-align: center;
      color: #fff;

      button {
        cursor: pointer;
        background-color: transparent;
        color: #1f55ca;
        border: none;
        padding-inline: 2px;
      }
    }
  }
}

@include mq(large) {
  .page {
    align-items: center;

    .content {
      margin-top: -60px
    }
  }
}