@font-face {
  font-family: ElectronicArtsDisplayBold;
  src: url(../../Assets/fonts/ElectronicArtsDisplay-Bold.woff2);
}

@font-face {
  font-family: ElectronicArtsDisplayRegular;
  src: url(../../Assets/fonts/ElectronicArtsDisplay-Regular.woff2);
}

@font-face {
  font-family: ElectronicArtsTextBold;
  src: url(../../Assets/fonts/ElectronicArtsText-Bold.woff2);
}

@font-face {
  font-family: ElectronicArtsTextLight;
  src: url(../../Assets/fonts/ElectronicArtsText-Light.woff2);
}

@font-face {
  font-family: ElectronicArtsTextRegular;
  src: url(../../Assets/fonts/ElectronicArtsText-Regular.woff2);
}

@font-face {
  font-family: OpenSans;
  src: url(../../Assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OswaldRegular;
  src: url(../../Assets/fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: OswaldBold;
  src: url(../../Assets/fonts/Oswald-Bold.ttf);
}