@import "../Abstracts/mixins/_mixin-breakpoints.scss" ;
.btn{
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px;
    padding: 12px 24px;
    transition: padding 0.1s;
   width: 100%;
}

@include custom-mq(640px) {
  .btn{
    width: auto;
  }
}
@include mq(xlarge) {
  .btn{
    padding: 16px 24px;
  }
}
// .btn:hover{
//   padding: 18px 35px;
// }
