@import "../Abstracts/mixins/_mixin-breakpoints.scss";

.link {
  display: inline-block;
  width: calc(100% - (var(--marg-inline-section) * 2))
}
.link.full {
  width: 100%;
}

.btn {
  position: relative;
  cursor: pointer;
  border: none;
  padding: 12px 24px;
  border-radius: 3px;
  width: 100%;

  .border {
    position: absolute;
    inset: 0;
    border: 2px solid;
    border-radius: 3px;

    transition: inset 0.1s;
  }
}

.btn:hover {
  .border {
    inset: -3px;
  }
}

@include custom-mq(640px) {
  .link, .link.full {
    width: auto;
  }
}
@include mq(large) {
  .btn {
    padding: 16px 24px;
  }
}
