.dropdown {
  width: 100%;
  height: 100%;
}

.btn {
  height: 100%;
  width: max-content;
  font-size: var(--fs-500);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  cursor: pointer;

  .arrow {
    display: inline-block;
    height: 15px;
    width: 15px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before, &::after {
      content: '';
      width: 60%;
      height: .5px;
      background-color: var(--clr-dark-700);
      border-radius: 1px;

      display: block;
      position: absolute;

      transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    &::before {
      transform: translate(-30%) rotate(45deg);
    }
    
    &::after {
      transform: translate(30%) rotate(-45deg);
    }
  }
}


.body {
  position: absolute;
  padding-top: 5px;
  transform-origin: center top;
  transform: scaleY(0);
  pointer-events: none;
  font-size: 16px;

  transition: transform 0.3s cubic-bezier(0.5, 0.25, 0.015, 1);
}

.menu {
  background-color: var(--clr-light-100);
  padding: 40px 35px;
  margin-left: -30px;
  border-radius: 5px;

  display: flex;
  gap: 60px;
}

.menu.singleColumn {
  padding: 10px 60px 10px 30px;
  ul {
    margin: 0;
    padding: 0;
  }
}

.p {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--clr-light-500);
  transform: translateY(-5px);
  opacity: 0;
  transition-property: transform, opacity;
  transition: 0.3s 0.1s cubic-bezier(0.5, 0.25, 0.015, 1);
}

.list {
  margin: 0;
  padding: 0;
  color: var(--clr-dark-200);

  li {
    cursor: pointer;
    margin-block: 10px;
    transform: translateY(-5px);
    opacity: 0;
    transition: transform 0.3s 0.1s cubic-bezier(0.5, 0.25, 0.015, 1), opacity 0.3s 0.1s cubic-bezier(0.5, 0.25, 0.015, 1);
  }
  li:hover {
    color: var(--clr-brand-400);
  }
}

.dropdown:hover {
  .btn {
    color: var(--clr-brand-400);

    .arrow::before {
      transform: translate(-30%) rotate(-45deg);
      background-color: var(--clr-brand-400);
    }
  
    .arrow::after {
      transform: translate(30%) rotate(45deg);
      background-color: var(--clr-brand-400);
    }
  }
  .body {
    transform: scaleY(1);
    pointer-events: auto;

    p,
    li {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
