@import "../Abstracts/mixins/_mixin-breakpoints.scss";

.tab-container {
  height: 50px;
  cursor: pointer;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.1s ease;

  &:hover,
  &:active,
  &:focus {
    background-color: hsla(0, 0%, 85%, 0.678);
  }

  & .border {
    position: absolute;
    bottom: 1px;
    height: 2px;
    background-color: var(--clr-brand-700);
    transition: width 0.1s ease-out;
  }

  .tab {
    font-size: var(--fs-500);
    padding-inline: 1rem;
  }
}

.tab-container.active {
  background-color: hsla(0, 0%, 85%, 0.678);
}

.tab-container + .tab-container .divider {
  position: absolute;
  height: 50%;
  width: 2px;
  left: -1px;
  background-color: var(--clr-light-500);
}

@include mq(medium) {
  .tab-container {
    height: 60px;
  }
}