.title_social {
  font-size: var(--fs-200);
  margin: 0px 0px 20px 0px;
}
.blocco_social {
  display: flex;
  flex-direction: column;
 
}

.blocco_loghi {
    display: flex;
    justify-content:flex-start;
    gap:25px;
  }
  
  .facebooklogo {
    width: 22px;
    height: 22px;
    
  }
  
  .facebooklogo:hover {
    width: 25px;
    height: 25px;
    transition-duration: 0.2s;
  }
  
  .twitterlogo {
    width: 22px;
    height: 22px;
  }
  
  .twitterlogo:hover {
    width: 25px;
    height: 25px;
    transition-duration: 0.2s;
  }
  
  .youtubelogo {
    width: 22px;
    height: 22px;
  }
  
  .youtubelogo:hover {
    width: 25px;
    height: 25px;
    transition-duration: 0.2s;
  }
  
  .instagramlogo {
    width: 22px;
    height: 22px;
  }
  
  .instagramlogo:hover {
    width: 25px;
    height: 25px;
    transition-duration: 0.2s;
  }
  
  .twitchlogo {
    width: 22px;
    height: 22px;
  }
  
  .twitchlogo:hover {
    width: 25px;
    height: 25px;
    transition-duration: 0.2s;
  }