@import "../Abstracts/mixins/_mixin-breakpoints.scss";

.container {
  position: relative;
}

.img {
  z-index: -1;
}

.contentWrapper {
  --marg-inline: var(--marg-inline-section);
  position: absolute;
  inset: 0;
  margin-block: auto;
  height: min-content;
  margin-inline: var(--marg-inline);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentWrapper > *:first-child {
  width: 100%;
}

.contentWrapper > div > img {
  max-width: 240px;
}
.contentWrapper > div > *:last-child{
  margin-top: 16px;
}
.contentWrapper > div > .body {
  line-height: 16px;
  font-family: var(--ff-heading-400);
  font-weight: 400;
  letter-spacing: normal;
}
@include mq(medium) {
  .contentWrapper > *:first-child {
    width: max-content;
  }

  .contentWrapper.left {
    align-items: flex-start;
  }

  .contentWrapper.center {
    align-items: center;
  }

  .contentWrapper.right {
    align-items: flex-end;
  }
  .contentWrapper > .childContent {
    width: 40%;
  }
  
}
@include mq(large){
  .contentWrapper > div > *:last-child{
    margin-top: 21px;
  }
  .contentWrapper > div > .body {
    line-height: 18px;
  }
}

@include mq(xlarge) {
  .contentWrapper {
    --marg-inline: var(--custom-marg-inline, 1rem);
  }
  .contentWrapper > .childContent {
    width: 50%;
  }
  .contentWrapper > div > *:last-child{
    margin-top: 24px;
  }
}
