.footer {
  display: flex;
   width: 100%;
   padding:15px 93px 40px 93px;
   .logo{
    width: 49px;
    height: 49px;
   }
   .meno-logo{
display: flex;
flex-direction: column;
   }
   .section1{
    width: 100vw;
display: flex;
justify-content: space-around;

}
.section2{
  width: 100vw;
display: flex;
justify-content: space-around;
margin-top: 10px;
}
.scritte1{
  width: 28vw;
  display:flex;
  flex-flow: wrap;
  justify-content: space-between;
   
}

.scritte2{
  width: 45vw;
  font-size: small;
  display:flex;
  flex-flow: wrap;
  justify-content: space-between;

  
  .accordo-con-utente{
    margin: 0 250px 6px 0;
  }
  .eletronic-arts{
    margin-top: 10px;
  }
}
.buttons{
  display: flex;
  justify-content: space-between;
  
}
.button1{
  width: 187px;
  height: 58px;
}
.button2{
  width: 187px;
  height: 58px;
}
}



//PARTE JO

.dropdown-price {
  grid-area: price;
  display: flex;
  justify-content: flex-end;
  height: 65px;



   .dropdown {
   position: relative;
   border: 2px solid #c2c2c2;
   border-radius: 3px;
   width: 190px;

   

  

       .button-link {
           width: 100%;
           height: 61px;
           text-align: left;
           display: flex;
           flex-direction: column;
           justify-content: space-evenly;
           background: none;
           border: none;
           text-decoration: none;
           color: #5a5a58;
           font-family: inherit;
           cursor: pointer;
           padding: 0;
           //margin-left: 10px;
           padding-left: 1rem;

         

           div {
           font-size: 15px;
           }
       }

       #color-nation {
           color: red;
           display: flex;
           justify-content: space-between;
           width: 85%;

          

           img {
           width: 14px;
           height: 14px;
           margin-left: 30px;
           }
       }

       .dropdown-menu {
           position: absolute;
           left: -440px;
           top: -385px;
           background-color: red;
           padding: 0.75rem;
           border-radius: 0.25rem;
           box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
           opacity: 0;
           transform: translateY(-10px);
           -webkit-transform: translateY(-10px);
           -ms-transform: translateY(-10px);
           transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
           -webkit-transition: opacity 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
           -o-transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
           pointer-events: none;
           z-index: 100;

         
       }

       .link {
           width: 100%;
           height: 40px;
           text-align: left;
           display: flex;
           justify-content: space-between;
           align-items: center;
           background: none;
           border-bottom: 1px solid #eaeaea;
           text-decoration: none;
           color: red;
           font-family: inherit;
           cursor: pointer;
           padding: 0px 8px;

           &:focus::before {
               content: url('/assets/img/icon-check.png');
           }

          
       }

       .link:hover {
           padding-left: 20px;
           transition: padding-left 100ms ease-in-out;
       }

       .button-link:focus + .dropdown-menu {
           opacity: 1;
           transform: translateY(0);
           -webkit-transform: translateY(0);
           -ms-transform: translateY(0);
           pointer-events: auto;

          
       }

       .information-grid {
           display: grid;
           grid-template-columns: repeat(4, 150px);
           gap: .5rem;

          
       }

       .select-price > select  {
           appearance: none;
           position: absolute;
           color: transparent;
           background: rgba(255,255,255,0);
           bottom: 0;
           width: 100%;
           height: 100%;
           cursor: pointer;
           border: 0;
           outline: none;
           display: none;

         
       }
   }
}

.dropdown-language {
  grid-area: language;
  display: flex;
  justify-content: flex-end;
  height: 65px;

 

  .dropdown {
      position: relative;
      border: 2px solid #c2c2c2;
      border-radius: 3px;
      width: 190px;

    

      .button-link {
          width: 100%;
          height: 61px;
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          background: none;
          border: none;
          text-decoration: none;
          color: #5a5a58;
          font-family: inherit;
          cursor: pointer;
          padding: 0;
          //margin-left: 10px;
          padding-left: 1rem;

         

          div {
              font-size: 15px;
          }
      }

      #color-nation {
          color:red;
          display: flex;
          width: 90%;

         

          span {
              margin-right: 10px;
          }

          .wrapper-text-arrow {
              display: flex;
              width: 100%;
          }
      }

      .dropdown-menu {
          position: absolute;
          left: -360px;
          top: -430px;
          background-color: white;
          padding: 0.75rem;
          border-radius: 0.25rem;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
          opacity: 0;
          transform: translateY(-10px);
          -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
          transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
          -webkit-transition: opacity 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
          -o-transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
          pointer-events: none;
          z-index: 2;

      }

      .link {
          width: 100%;
          height: 45px;
          text-align: left;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          background: none;
          border-bottom: 1px solid #eaeaea;
          text-decoration: none;
          color: red;
          font-family: inherit;
          cursor: pointer;
          padding: 0px 8px;
          font-size: 14px;

          
      }

      .link:hover {
          padding-left: 20px;
          transition: padding-left 150ms ease-in-out;
          -webkit-transition: padding-left 150ms ease-in-out;
          -o-transition: padding-left 150ms ease-in-out;
      }

      .button-link:focus + .dropdown-menu {
          opacity: 1;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          pointer-events: auto;

         
      }

      .information-grid {
          display: grid;
          grid-template-columns: repeat(3, 180px);
          gap: .5rem;

         
      }

      .select-language > select  {
          appearance: none;
          position: absolute;
          color: transparent;
          background: rgba(255,255,255,0);
          bottom: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
          border: 0;
          outline: none;
          display: none;

          
      }
  }
}