.footer {
  display: flex;
   width: 100%;
   .logo{
    width: 49px;
    height: 49px;
   }
   .meno-logo{
display: flex;
flex-direction: column;
   }
   .section1{
    width: 100vw;
display: flex;
justify-content: space-between;
}
.section2{
  display: flex;
}
.scritte1{
  width: 100vw;
  display:flex;
   justify-content: space-between;
   flex-flow: wrap;
}
.buttons{
  display: flex;
  justify-content: space-between;
}
.button1{
  width: 187px;
  height: 58px;
}
.button2{
  width: 187px;
  height: 58px;
}
}
