@use "../Abstracts/mixins/_mixin-breakpoints.scss" as *;

.footer {
    --paddBlock: 40px 30px;
    --linkPaddings: 5px 32px 10px 0;
    --link2Paddings: 9px 32px 4px 0;

    @include mq(medium) {
        --paddBlock: 22px 40px;
        --linkPaddings: 10px 32px 10px 0;
        --link2Paddings: 1px 32px 3px 0;
    }
    @include mq(large) {
        --paddBlock: 15px 40px;
        --linkPaddings: 16px 48px 10px 0;
        --link2Paddings: 0 32px 6px 0;
    }
    @include mq(xlarge) {
        --paddBlock: 26px 48px;
        --linkPaddings: 16px 52px 16px 0;
        --link2Paddings: 2px 36px 0 0;
    }
}

.footer {
    background-color: var(--clr-light-100);
    padding-block: var(--paddBlock);
    padding-inline: 22px;
    @include mq(medium) {
        padding-inline: var(--padd-inline-section);
    }

    display: flex;
    flex-direction: column;
    align-items: stretch;
    @include mq(large) {
        flex-direction: row;
        align-items: flex-start;
        gap: 32px;
    }

    .logo {
        flex-shrink: 0;
        width: 47px;
        aspect-ratio: 1 / 1;
        margin-bottom: 9px;

        @include mq(xlarge) {
            width: 64px;
        }
    }

    .section1 {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        @include mq(large) {
            flex-direction: row;
            align-items: flex-start;
            gap: 10px;
        }

        .links {
            display: flex;
            flex-wrap: wrap;

            & > * {
                font-size: var(--fs-400);
                padding: var(--linkPaddings);
            }
        }

        .buttons {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 25px;

            margin-block: 27px;
            @include mq(medium) {
                flex-direction: row;
                align-items: center;
                gap: 45px;

                margin-block: 0 10px;
            }
        }
    }

    .section2 {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        @include mq(large) {
            flex-direction: row;
            align-items: flex-end;
            gap: 10px;
        }
        @include mq(xlarge) {
            gap: 150px;
        }

        .links {
            display: flex;
            flex-wrap: wrap;

            & > * {
                font-size: var(--fs-200);
                margin: var(--link2Paddings);
            }

            p {
                flex-basis: 100%;
                @include mq(medium) {
                    margin-block: 10px;
                }
            }
        }

        .policy {
            flex-shrink: 0;
            width: 190px;
            height: 50px;

            margin-top: 30px;
            @include mq(medium) {
                margin-top: 0;
            }
            @include mq(large) {
                margin-bottom: 20px;
            }
        }
    }
}