@import "../Abstracts/mixins/_mixin-breakpoints.scss";
.flow > * + * {
  margin-top: 16px;
}
.blocco_genitori {
  text-align: center;
  padding-block: 32px 16px;
}

.heading {
  padding-inline: var(--padd-inline-section);
  font-size: var(--fs-800);
  margin-bottom: 1rem;
}

@include mq(large) {
  .blocco_genitori {
    padding-block: 0;
    padding-inline: var(--padd-inline-section);
    display: flex;
    justify-content: space-between;
    height: 96px;
    align-items: center;
  }

  .heading {
    margin-bottom: 0;
    padding-inline: 0;
  }

  .flow > * + * {
    margin-top: 0px;
  }
}
@include mq(xlarge) {
  .blocco_genitori {
    height: 112px;
  }
}
