.languagesBlock {
  position: absolute;
  z-index: 1;
  bottom: 90px;
  right: 60px;
  height: 500px;
  width: 500px;
  display: flex;
  flex-flow: column;
  border: 2px solid grey;
  background-color: white;
  .firstBlock {
    display: flex;
    height: 450px;
    width: 500px;
    border: 2px solid grey;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        flex: 32%;
        text-decoration: underline;
        text-decoration-color: grey;
      }
    }
  }
  .secondBlock {
    display: flex;
    height: 450px;
    width: 500px;
    border: 2px solid grey;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        flex: 32%;
        justify-content: flex-start;
        text-decoration: underline;
        text-decoration-color: grey;
      }
    }
  }
}
