@use "../Abstracts/mixins/_mixin-breakpoints.scss" as *;

:root {
  --navHeight: 53px;
  @include mq(medium) {
    --navHeight: 57px;
  }
  @include mq(large) {
    --navHeight: 56px;
  }
  @include mq(xlarge) {
    --navHeight: 60px;
  }
}

.nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
}

.nav > *:first-child {
  position: absolute;
  z-index: 1;
}

.nav > *:last-child {
  position: absolute;
  top: 40px;
}

.spacer {
  height: calc(var(--navHeight) + 40px);
}