@import "../Abstracts/mixins/_mixin-breakpoints.scss";

.section {
  text-align: center;
  margin-block: calc(var(--flow-spacer-section-100) * 1.4) var(--flow-spacer-section-100);
}

@include mq(medium) {
  .h2 {
    margin-bottom: calc(-1 * (var(--flow-spacer-section-100) / 100 * 60))
  }
}