@use "../mixins/mixin-breakpoints" as *;

$map-padding: (
  padd: (
    small: (
      inline-section: 7.5vw,
    ),
    medium: (
      inline-section: 7.8125vw,
    ),
    large: (
      inline-section: 7.4218vw,
    ),
    xlarge: (
      inline-section: calc((100vw - 1120px) / 2),
    )
  )
);

:root {
  @each $branch, $breakpoints in $map-padding {
    @each $breakpoint, $paddings in $breakpoints {
      @if $breakpoint == small {
        @each $padding, $value in $paddings {
          --#{$branch}-#{$padding}: #{$value};
        }
      } @else if $breakpoint == medium {
        @include mq($breakpoint) {
          @each $padding, $value in $paddings {
            --#{$branch}-#{$padding}: #{$value};
          }
        }
      } @else if $breakpoint == large {
        @include mq($breakpoint) {
          @each $padding, $value in $paddings {
            --#{$branch}-#{$padding}: #{$value};
          }
        }
      } @else if $breakpoint == xlarge {
        @include mq($breakpoint) {
          @each $padding, $value in $paddings {
            --#{$branch}-#{$padding}: #{$value};
          }
        }
      }
    }
  }
}

@each $branch, $breakpoints in $map-padding {
  @each $breakpoint, $paddings in $breakpoints {
    @each $padding, $value in $paddings {
      .#{$branch}-#{$padding} {
        padding-inline: var(--#{$branch}-#{$padding});
      }
    }
  }
}