
$map-colors: (
  //next branches -> ex: crl-battlefield or something like that
  clr: (
    light-100: hsl(0, 0%, 100%), //#ffffff | rgb(255, 255, 255)
    light-400: hsl(0, 0%, 95%), //#f2f2f2 | rgb(242, 242, 242)
    light-900: hsl(0, 0%, 64%), //#a3a3a3 | rgb(163, 163, 163)

    brand-400: hsl(0, 100%, 64%), //#FF4747 | rgb(255, 71, 71)
    brand-700: hsl(352, 100%, 56%), //#FF1E3C | rgb(255, 31, 61)

    blue-400: hsl(202, 56%, 64%) //#70b1d7 | rgb(112, 177, 215)

    dark-200: hsl(60, 1%, 35%), //#5a5a58 | rgb(90, 90, 88)
    dark-400: hsl(0, 0%, 35%), //#595959 | rgb(89, 89, 89)
    dark-500: hsl(0, 0%, 15%), //#262626 | rgb(38, 38, 38)
    dark-700: hsl(0, 0%, 9%), //#171717 | rgb(23, 23, 23)
    dark-900: hsl(0, 0%, 0%) //#000000 | rgb(0, 0, 0)
  )
);

/**
  * @tokens Colors
  * @presenter Color
  */
$light-100: hsl(0, 0%, 100%); //#ffffff | rgb(255, 255, 255)
$light-400: hsl(0, 0%, 95%); //#f2f2f2 | rgb(242, 242, 242)
$light-900: hsl(0, 0%, 64%); //#a3a3a3 | rgb(163, 163, 163)

$brand-400: hsl(0, 100%, 64%); //#FF4747 | rgb(255, 71, 71)
$brand-700: hsl(352, 100%, 56%); //#FF1E3C | rgb(255, 31, 61)

$blue-400: hsl(202, 56%, 64%); //#70b1d7 | rgb(112, 177, 215)


$dark-200: hsl(60, 1%, 35%); //#5a5a58 | rgb(90, 90, 88)
$dark-400: hsl(0, 0%, 35%); //#595959 | rgb(89, 89, 89)
$dark-500: hsl(0, 0%, 15%); //#262626 | rgb(38, 38, 38)
$dark-700: hsl(0, 0%, 9%); //#171717 | rgb(23, 23, 23)
$dark-900: hsl(0, 0%, 0%); //#000000 | rgb(0, 0, 0)
/**
  * @tokens-end
  */

:root {
  @each $branch, $colors in $map-colors {
    @each $color, $value in $colors {
      --#{$branch}-#{$color}: #{$value};
    }
  }
}

@each $branch, $colors in $map-colors {
  @each $color, $value in $colors {
    .#{$branch}-#{$color} {
      color: var(--#{$branch}-#{$color})
    };
    .bg-#{$branch}-#{$color} {
      background-color: var(--#{$branch}-#{$color});
    }
  }
}