$map-font-families: (
  //next branches -> ex: ff-battlefield or something like that
  ff: (
    heading-400: unquote($string: "ElectronicArtsDisplayRegular, verdana, Helvetica, Arial, sans-serif"),
    heading-900: unquote($string: "ElectronicArtsDisplayBold, verdana, Helvetica, Arial, sans-serif"),
    text-100: unquote($string: "ElectronicArtsTextLight, verdana, Helvetica, Arial, sans-serif"),
    text-400: unquote($string: "ElectronicArtsTextRegular, verdana, Helvetica, Arial, sans-serif"),
    text-900: unquote($string: "ElectronicArtsTextBold, verdana, Helvetica, Arial, sans-serif"),
    open-sans-400: unquote($string: "OpenSans, verdana, Helvetica, Arial, sans-serif"),
    oswald-400: unquote($string: "OswaldRegular, verdana, Helvetica, Arial, sans-serif"),
    oswald-900: unquote($string: "OswaldBold, verdana, Helvetica, Arial, sans-serif"),
  )
);

/**
* @tokens Font Families
* @presenter FontFamily
*/
$heading-400: ElectronicArtsDisplayRegular, verdana, Helvetica, Arial, sans-serif;
$heading-900: ElectronicArtsDisplayBold, verdana, Helvetica, Arial, sans-serif;
$text-100: ElectronicArtsTextLight, verdana, Helvetica, Arial, sans-serif;
$text-400: ElectronicArtsTextRegular, verdana, Helvetica, Arial, sans-serif;
$text-900: ElectronicArtsTextBold, verdana, Helvetica, Arial, sans-serif;
$open-sans-400: OpenSans, verdana, Helvetica, Arial, sans-serif;
$oswald-400: OswaldRegular, verdana, Helvetica, Arial, sans-serif;
$oswald-900: OswaldBold, verdana, Helvetica, Arial, sans-serif;
/**
* @tokens-end
*/

:root {
  @each $branch, $families in $map-font-families {
    @each $family, $value in $families {
      --#{$branch}-#{$family}: #{$value};
    }
  }
}

@each $branch, $families in $map-font-families {
  @each $family, $value in $families {
    .#{$branch}-#{$family} {
      font-family: var(--#{$branch}-#{$family})
    };
  }
}