@import "../Abstracts/mixins/_mixin-breakpoints.scss";
.blocco_link_gio {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  align-items: stretch;
  padding: 44px var(--padd-inline-section) 65px;
}
.linkf_gio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15px;
  row-gap: 10px;
  & a {
    font-size: var(--fs-300);
  }
}

.link_gio:hover {
  text-decoration: none;
  color: orangered;
}
.hr {
  background-color: black;
  width: 100%;
  margin: 10px 0px 10px 0px;
}
@include mq(medium){
  .hr{
    display: none;
  }
  .linkf_gio {
    display: flex;
    justify-content: flex-start;
    gap:30px;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 10px;
  }
}
@include mq(large){
  .hr{
    display: none;
  }
  .blocco_link_gio {
    display: flex;
    flex-direction: row;
    background-color: #eaeaea;
    align-items: stretch;
    justify-content: space-between;
    padding: 44px var(--padd-inline-section) 65px;
  }
  .linkf_gio {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-bottom: 15px;
    row-gap: 10px;
    & a {
      font-size: var(--fs-100);
    }
  }
}

